* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  
  #calc {
    width: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transition: 0.3s;
  }
  
  #operations {
    text-align: right;
    color: #777;
    padding: 10px;
  }
  
  #previous-operation {
    color: white;
    padding: 0.2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
    font-size: 23px;
  }
  
  #current-operation {
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word;
  }
  
  #buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    background: #0f0f0fdb;
    border-radius: 25px 25px 0px 0px;
    padding: 10px;
    transition: 0.3s;
  }
  
  #buttons-container button {
    height: 4em;
    font-size:23px;
    background-color: transparent;
    cursor: pointer;
    color: #7C23D5;
    border: none;
    border-radius: 10px;
  }
  #buttons-container button:hover{
    background-color: #141414af;
  }
  
  #buttons-container .number {
    background-color: transparent;
    color: white;
  }
  
  #buttons-container #equal-btn {
    background-color: #7C23D5;
    border-radius: 10px;
    color: white;
    
  }
  #buttons-container #equal-btn:hover {
    background-color: #803ec2;
  }

  .dark-mode{
    background-color: white;
  }
  .dark-mode #calc{
    background-color: white;
    color: black;
  }
  .dark-mode #buttons-container{
    background-color: rgb(231 226 226 / 55%);
  }
  .dark-mode   #buttons-container .number {
    color: black;
  }
  .dark-mode #previous-operation {
    color: black;
  }
  .dark-mode #buttons-container button:hover{
    background-color: rgba(219, 216, 216, 0.804);
  }
  .bi-sun{
    display: none;
  }
  .dark-mode .bi-moon{
    display: none;
  }
  .dark-mode .bi-sun{
    display: block;
  }

  @media (max-width: 620px){
    #calc {
      margin-top: 95px;
    }
    div#before::before{
      margin-left: 22px;
    }
  }